@model Finanzas.Models.Users
@{
    ViewBag.Title = "Registrarse";
}
<div class="flex min-h-full items-center justify-center py-12 px-4 sm:px-6 lg:px-4">
  <div class="w-full max-w-md space-y-8">
    <div>
      <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900">Registrate en Piggy</h2>
      <p class="mt-2 text-center text-gray-600">
        o
        
        @Html.ActionLink("Ingresa", "Index", "Auth", new { area = "" }, new { @class = "font-bold text-md text-cyan-500 hover:text-cyan-600" })
      </p>
      <p class="mt-2 text-center text-gray-600">
        @ViewBag.Message
      </p>
    </div>
    <form class="mt-8 space-y-6" asp-action="Register" asp-controller="Auth" method="POST">
      <input type="hidden" name="remember" value="true">
      <div class="space-y-2 rounded-md shadow-sm ">
        <div>
          <label for="Name" class="sr-only">Usuario</label>
          <input asp-for="Name" id="Name" name="Name" type="text" autocomplete="text" required class="relative block w-full appearance-none rounded-none rounded-t-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-cyan-500 focus:outline-none focus:ring-cyan-500 sm:text-sm" placeholder="Usuario">
        </div>
        <div>
          <label for="email-address" class="sr-only">Correo Electronico</label>
          <input asp-for="Email" id="email-address" name="email" type="email" autocomplete="email" required class="relative block w-full appearance-none rounded-none rounded-t-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-cyan-500 focus:outline-none focus:ring-cyan-500 sm:text-sm" placeholder="Correo">
        </div>
        <div>
          <label for="password" class="sr-only">Contraseña</label>
          <input asp-for="Password" id="password" name="password" type="password" autocomplete="current-password" required class="relative block w-full appearance-none rounded-none rounded-b-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-cyan-500 focus:outline-none focus:ring-cyan-500 sm:text-sm" placeholder="Contraseña">
        </div>
      </div>

      <div>
        <button type="submit" class="group relative flex w-full justify-center rounded-md border border-transparent bg-cyan-500 py-2 px-4 text-sm font-medium text-white hover:bg-cyan-700 focus:outline-none focus:ring-2 focus:ring-cyan-600 focus:ring-offset-2">
          <span class="absolute inset-y-0 left-0 flex items-center pl-3">
            <!-- Heroicon name: mini/lock-closed -->
            <svg class="h-5 w-5 text-cyan-600 group-hover:text-cyan-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z" clip-rule="evenodd" />
            </svg>
          </span>
          Registrarse
        </button>
      </div>
    </form>
  </div>
</div>
